*{
    box-sizing: border-box;
}

h1{
    font-size: 70px;
    color: rgba(0, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
}

.tabs{
    padding: 5px 3px;
    border-style: solid;
}

h3{
    padding: 12px;
    
}

li{
    list-style: none;
}

.nav{
    list-style: none;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 9px;
    
}

.exerciseList{
    font-size: 30px;
    font-weight: bold;
    color: gold;
    background-color: rgba(0, 0, 0, 0.8);
    
}

form{
    color: rgba(0, 255, 255);
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.8);
 
}

.buttonz{
    background-color: black;
    border-color: rgba(0,255, 255);
    color: gold;
    font-size: 16px;
    font-weight: bolder;
    list-style: none;
    padding: 2px 4px;
    margin: 2px;
    border-radius: 5px;
    border-width: 2.4px;
    
  }


/*Mobile view*/
@media all and (max-width: 500px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .exerciseList{
        font-size: 20px;
    }
  
}


/*tablet view*/
@media all and (max-width: 1199px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .exerciseList{
        font-size: 20px;
    }
  
}






  /*desktop view*/
@media all and (min-width: 1200px){
    .muscle{
        display: flex;
        flex-direction: row;
        font-size: 30px;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

   
  
}

