*{
    box-sizing: border-box;
}

.muscle{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: rgba(0,0,0,0.8)
}

.chest{
    padding: 5px;
}

.chestImage{
    max-width: 170px;
    height: 140px;
}

.back{
    padding: 5px;
}

.backImage{
    max-width: 170px;
    height: 140px;
}

.shoulders{
    padding: 5px;
}

.shouldersImage{
    max-width: 170px;
    height: 140px;
}

.arms{
    padding: 5px;
}

.armsImage{
    max-width: 170px;
    height: 140px;
    
}

.legs{
    padding: 5px;
}

.legsImage{
    max-width: 170px;
    height: 140px;
}

.misc{
    padding: 5px;
}

.miscImage{
    max-width: 170px;
    height: 140px;
}

/*Mobile view*/
@media all and (max-width: 500px){
    .muscle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

   
  
}


/*tablet view*/
@media all and (max-width: 1140px){
    .muscle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

   
  
}




/*desktop view*/
@media all and (min-width: 1200px){
    .muscle{
        display: flex;
        flex-direction: row;
        font-size: 30px;
        align-items: flex-start;
       justify-content: space-between;
       flex-wrap: nowrap;
    }

   
  
}

