*{
  box-sizing: border-box;
}

html, body, #root, .App{
  height: 100%;
}

.App {
  text-align: center;

}

.topList{
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

footer{
  height: 4px;
}



